export RAILS_MASTER_KEY=4e7f2c783a220fb13f0f967d40c5a836444f0ce909a0008b57bf8ee39d4cb6029ae1be871c498f81c0e165a71141442dcf629c312c550b9e38e2d26497fdb970
export ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=7nD2BeYehziOnto4AoZ7LZPKg04LE5nh
export ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=zNTCraiVjLgyCJsz9NNXneVeAyRBpxLq
export ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=WGWdlTnkmbf7DZJwR239pK9NzKh0gMeW

# Add your TVDB API key here
# export TVDB_API_KEY=your_tvdb_api_key_here
