<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js" charset="utf-8"></script>

    <title>TVDBCalendar</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <div class="ui container">
          <div class="ui middle aligned center aligned grid">
              <div class="ten wide column">
                  <h1 class="ui header logo">
                      <div class="content" style="font-size: 2.0em">TVDBCalendar</div>
                  </h1>
                  <div class="ui divider"></div>
              </div>
              <div class="eight wide column">
                  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
                  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

                  <main role="main">
                  <div class="column">
                      <%= render @view_module, @view_template, assigns %>
                  </div>
                  </main>

              </div>
          </div>
      </div>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
