<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf" content="<%= get_csrf_token() %>">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js" charset="utf-8"></script>

    <title>TVDBCalendar</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-98174538-1', 'auto');
        ga('send', 'pageview');
      </script>
  </head>

  <body>
      <div class="ui center aligned container grid">
          <div class="sixteen wide phone twelve wide computer column">
              <h1 class="ui header logo">TVDBCalendar</h1>
              <div class="ui divider"></div>
          </div>
      </div>
      <div class="ui center aligned container grid">
          <div class="eight wide computer sixteen wide phone column">
            <div class="ui blue message"><%= get_flash(@conn, :info) %></div>
            <div class="ui red message"><%= get_flash(@conn, :error) %></div>

            <%= render @view_module, @view_template, assigns %>
          </div>
      </div>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
