/* This file is for your main application css. */

html {
    overflow-x: hidden;
}

body {
    margin-top: 40px;
}

h1.ui.header {
    font-size: 4.4em;
    line-height: 1.25em;
    color: #8FD36F;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    h1.ui.header {
        font-size: 3.4em;
        line-height: 1em;
    }
}

.ui.olive.button, .ui.olive.button:active, .ui.olive.button:focus {
    background-color: #90B0CC;
}

.ui.olive.button:hover {
    background-color: #7092AB;
}

.alert:empty {
    display: none;
}
