/* This file is for your main application css. */

body {
    margin-top: 40px;
}

h1>div {
    color: #8FD36F;
}

.ui.olive.button {
    background-color: #90B0CC;
}

.ui.olive.button:hover {
    background-color: #7092AB;
}
